.swap {
  width: 40%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 1%;
  padding-right: 1%;
  border: 2px solid #e880bd;
  border-radius: 1em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 2em;
}

.inputContainer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

input {
  font-size : 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.hedgeTechButton {
  color: #fff;
  background-color: #e61953;
  border: none;
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 0.25em;
}